<h1>Recipes</h1>

<ul>
    <% @recipes.each do |recipe| %>
        <li><%= link_to recipe.name, recipe_path(recipe) %></li>
    <% end %>
</ul>

<%= link_to 'Add a Recipe', new_recipe_path, class:'mt-8 pointer-events-auto rounded-md px-4 py-2 text-center font-medium shadow-sm ring-1 ring-slate-700/10 hover:bg-slate-50' %>